body {
    height: 100vh;
    width: auto;
    font-family: 'Quicksand', 'Nunito', sans-serif;
    background-image: url("../images/wine-oclock.png");
    background-size: 200px;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

#map-container {
    /* relative position can absolutely position search container by coordinates */
    position: relative;
    width: auto;
    height: 100vh;
    z-index: 330000;
}

#map {
    height: 100%;
}

#welcome-container {
    height: 30vh;
    position: relative;
}

#welcome-btn {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    align-self: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#search-container {
    position: relative;
    top: 10px;
    /* 10px from the top */
    left: 5px;
    z-index: 314161;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}